<div class="tt-breadcrumbs-main">
{{#unless theme_settings.hide_breadcrumbs }}
    <div class="tt-breadcrumbs">
    	<div class="container">
            {{#unless theme_settings.hide_page_heading }}
                <h1 class="category-name">
                    {{#each breadcrumbs}}
                        <span class="breadcrumb-title {{#if @last}}is-active{{/if}}">
                            {{#or @last (if url "==" null)}}
                                <span class="breadcrumb-label">{{name}}</span>
                            {{/or}}
                        </span>
                    {{/each}}
                </h1>
            {{/unless}}
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
                {{#each breadcrumbs}}
                    <li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        {{#or @last (if url "==" null)}}
                            <meta itemprop="item" content="{{url}}">
                            <span class="breadcrumb-label" itemprop="name">{{name}}</span>
                        {{else}}
                            <a href="{{url}}" class="breadcrumb-label" itemprop="item"><span itemprop="name">{{name}}</span></a>
                        {{/or}}
                        <meta itemprop="position" content="{{add @index 1}}" />
                    </li>
                {{/each}}
            </ul>
         </div>
    </div>
{{/unless}}
</div>
