
{{!--  {{#if currency_selector.currencies.length '>' 1}}
<ul class="navUser-section">
    <li class="navUser-item">
        <a class="navUser-action navUser-action--currencySelector has-dropdown" href="#" data-dropdown="currencySelection" aria-controls="currencySelection" aria-expanded="false">{{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i></a>
        <ul class="dropdown-menu" id="currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
            {{#each currency_selector.currencies}}
            <li class="dropdown-menu-item">
                <a href="{{{switch_url}}}">
                    {{#if is_active}}
                    <strong>{{name}}</strong>
                    {{else}}
                    {{name}}
                    {{/if}}
                </a>
            </li>
            {{/each}}
        </ul>
    </li>
</ul>
{{/if}} --}}


{{#if currency_selector.currencies.length '>' 1}}
    <li class="navUser-item currency-menu">
        <a class="navUser-action tt-selected" title="Currency Selector" href="#" aria-controls="currencySelection" >
            {{lang 'common.currency' code=currency_selector.active_currency_code}}
        </a>
        
        <ul class="" id="currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
            {{#each currency_selector.currencies}}
                <li class="menu-item">
                    <a class="currency-name-switcher" href="{{{switch_url}}}">
                        {{#if is_active}}
                            <strong>{{{flag}}} {{name}}</strong>
                        {{else}}
                            {{{flag}}} {{name}}
                        {{/if}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </li>
{{/if}}
