{{#with theme_settings}}
    {{#or show_accept_amex show_accept_discover show_accept_mastercard show_accept_paypal show_accept_visa show_accept_amazonpay show_accept_googlepay}}
        <h5 class="footer-info-headings">{{lang 'footer.payment-icon'}}</h5>
    {{/or}}
    {{#or show_accept_amex show_accept_discover show_accept_mastercard show_accept_paypal show_accept_visa show_accept_amazonpay show_accept_googlepay}}
    <ul class="footer-payment-icons">
        {{#if show_accept_amex}}
        <li><svg class="footer-payment-icon"><use xlink:href="#icon-logo-american-express"></use></svg></li>
        {{/if}}
        {{#if show_accept_discover}}
        <li><svg class="footer-payment-icon"><use xlink:href="#icon-logo-discover"></use></svg></li>
        {{/if}}
        {{#if show_accept_mastercard}}
        <li><svg class="footer-payment-icon"><use xlink:href="#icon-logo-mastercard"></use></svg></li>
        {{/if}}
        {{#if show_accept_paypal}}
        <li><svg class="footer-payment-icon"><use xlink:href="#icon-logo-paypal"></use></svg></li>
        {{/if}}
        {{#if show_accept_visa}}
        <li><svg class="footer-payment-icon"><use xlink:href="#icon-logo-visa"></use></svg></li>
        {{/if}}
        {{#if show_accept_amazonpay}}
        <li><svg class="footer-payment-icon"><use xlink:href="#icon-logo-amazonpay"></use></svg></li>
        {{/if}}
        {{#if show_accept_googlepay}}
        <li><svg class="footer-payment-icon"><use xlink:href="#icon-logo-googlepay"></use></svg></li>
        {{/if}}
    </ul>
    {{/or}}
{{/with}}
