<div class="form-field bis-option-group" data-product-attribute="set-radio">
    <label class="form-label form-label--alternate bis-option-label">
        <span class="bis-option-title">Choose {{ this.display_name }}</span>
        {{#if required}}
            <small class="bis-required-tag">{{lang 'common.required'}}</small>
        {{/if}}
    </label>

    <div class="bis-radio-list">
        {{#each this.values}}
            <div class="bis-radio-item">
                <input
                    class="form-radio bis-custom-radio"
                    type="radio"
                    id="attribute_radio_{{../id}}_{{id}}"
                    name="attribute[{{../id}}]"
                    value="{{id}}"
                    {{#if selected}}
                        checked
                        data-default
                    {{/if}}
                    {{#if ../required}}required{{/if}}>
                <label data-product-attribute-value="{{id}}" class="form-label bis-radio-label" for="attribute_radio_{{../id}}_{{id}}">
                    <span class="bis-radio-custom-disc"></span>
                    <span class="bis-radio-text">{{this.label}}</span>
                </label>
            </div>
        {{/each}}
    </div>
</div>
