<section class="subcategories-carousel row">
    {{#each categories}}
    	{{#if @index '<=' 6 }}
            <div class="tt-categories subcategories-{{id}}">
                <div class="content">
                    <div class="image">
                        <a class="subcat-img" href="{{url}}" >
                        	{{#if image}}
	                            <img class="lazyload" data-sizes="auto" alt="{{categories.alt}}" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'data-sizes'}}">
                            {{else}}
                               <img class="lazyload" data-sizes="auto" alt="{{categories.alt}}" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-vptmq0v2zd/product_images/uploaded_images/no-image.jpg">
                            {{/if}}
                        </a>
                    </div>
                    <div class="caption">
                        <div class="cat-title">
                            <h4><a href="{{url}}" data-hover="{{name}}">{{name}}</a></h4>
                            {{#if children}}
                                {{#each children}}
                                	{{#if @index '<=' 3 }}
                                   		<span><a href="{{url}}"><span class="material-icons">keyboard_arrow_right</span>{{name}}</a></span>                                    	
                                    {{/if}}
                                {{/each}}
                                <span><a href="{{url}}" class="view-all-link"><span class="material-icons">keyboard_arrow_right</span>{{ lang 'View All'}}</a></span>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/each}}	
</section>

    
